.sport-container .item {
	color: #fff;
	margin: 0;
	font-size: 20px;
	width: 100%;
	border-bottom: 1px solid #fff;
	overflow-x: hidden; 
	font-family: 'Poppins', sans-serif;
	-webkit-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    4px 4px 16px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         4px 4px 16px 0px rgba(50, 50, 50, 0.65);
}

.sport-tree-wrapper {
	max-height: 900px;
	overflow-y: scroll;
}

.sport-tree-wrapper::-webkit-scrollbar { width: 0; }
.sport-tree-wrapper{ -ms-overflow-style: none; }
.sport-tree-wrapper{ overflow: -moz-scrollbars-none; }

.sport-container-header {
	border: 1px solid #4ecb74;
	background-color: #bcf979;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

.input-date {
	font-size: 16px;
	width: 100%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-clear-button {
 -webkit-appearance: none;
  display: none;
}

input::-ms-clear {
 display: none;
}

.sport-container-header h1 {
	text-align: center;
}

.sport-container .item:last-child {
	border-bottom: none;
}

ul {
	margin: 0;
	padding: 0;
	margin-bottom: 0 !important;
}

ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sport{
	background-color: #4ecb74;
	cursor: pointer;
}

.country {
	background-color: #39a459;
}

.league {
	background-color: #2a7540;
}

.teams {
	background-color: #d3fca6;
	color: #000 !important;
}

.item-sports {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	/*padding: 15px;*/
}

.checkbox {
	width: 20px;
	display: inline-flex;
}